name: finale_project
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter 
  cupertino_icons: ^1.0.8
  wave: ^0.2.0
  local_auth: ^2.1.7
  animate_do: ^2.1.0
  path_provider: ^2.0.14
  record: ^5.0.0
  process_run: ^0.12.2
  permission_handler: ^11.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/voice_embedding.json


  # لإضافة أصول لاحقًا يمكنك وضعها هكذا:
  # assets:
  #   - assets/images/
  #   - assets/sounds/

  # لإضافة خطوط مخصصة:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
